.cartItem {
    .container {
        #tblItem {
            width: 100%;
            text-align: center;
            border-spacing: 10px;
            #tblHead {
                tr {
                    width: 100%;
                    th {
                    }
                }
                
            }
            #tblBody {
                tr {
                    td{
                        &:nth-child(1){
                            img {
                                width: 150px;
                                height: 150px;
                            }
                        }
                        &:nth-child(2){

                        }
                        &:nth-child(3){
                            color: orangered;
                        }
                        &:nth-child(4){
                            input{
                                width: 50px;
                            }
                        }
                        &:nth-child(5){
                            color: orangered;
                        }
                        &:nth-child(6){
                        }
                    }
                    &::before, &::after {
                        /* This doesn't work because of border-collapse */
                        line-height:20px;
                        content:".";
                        color:transparent; /* bacground color */
                        display:block;
                    }
                }
                &::before, &::after {
                    /* This doesn't work because of border-collapse */
                    line-height:20px;
                    content:".";
                    color:transparent; /* bacground color */
                    display:block;
                }
            }
        }
    }
}
