* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

button {
  padding: 10px;
}

button:hover {
  background-color: #505763;
}

button:focus {
  outline: none !important;
}

header {
  margin-bottom: 25px;
}

header .container .header-banner img {
  width: 100%;
}

header .container .header-navbar {
  z-index: 3;
}

header .container .header-navbar .nav-left-right {
  justify-content: space-between;
}

header .container .header-navbar .nav-left-right .left-nav form {
  padding: 10px;
  width: 90%;
}

header .container .header-navbar .nav-left-right .header-navbar--content .navbar-select {
  width: 100%;
}

header .container .header-navbar .nav-left-right .header-navbar--content .navbar-select ul {
  display: flex;
  padding-left: 100px;
}

header .container .header-navbar .nav-left-right .header-navbar--content .navbar-select ul li {
  padding-left: 10px;
  margin-right: 10px;
}

.carousel .container {
  padding: 0;
}

.carousel .container img {
  width: 100%;
}

.filter {
  margin: 25px 0;
}

.filter .container .row .card {
  text-align: center;
}

.filter .container .row .card img {
  width: 100px;
  height: 100%;
  cursor: pointer;
}

.item .container .item-title {
  padding-left: 15px;
}

.item .container .item-content {
  padding: 15px 15px 0 15px;
  border: 1px solid black;
}

.item .container .item-content .card-group {
  padding-bottom: 30px;
}

.item .container .item-content .card-group .card {
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
}

.item .container .item-content .card-group .card a {
  text-decoration: none;
  color: black;
}

.item .container .item-content .card-group .card a .card-header {
  padding: 0;
}

.item .container .item-content .card-group .card a .card-header img {
  width: 100%;
}

.item .container .item-content .card-group .card:hover #xemSP {
  display: block;
}

.item .container .item-content .card-group .card:hover .card-body {
  opacity: 0.5;
}

.item .container .item-content .card-group .card #xemSP {
  display: none;
  position: absolute;
  bottom: 20%;
  left: 15%;
  font-size: 23px;
  background-color: #007791;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  z-index: 2;
}

.item .container .item-content input {
  margin: 15px auto;
  border: 0px;
  background-color: transparent;
  text-transform: uppercase;
}

.item .container .item-content button {
  margin: 15px auto;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
}

.bestseller {
  padding: 22px 0;
}

.bestseller .bestseller {
  width: 90%;
  margin: auto;
}

.bestseller .bestseller h2 {
  font-size: 20px;
}

.contact .container .contact-title h2 {
  padding: 25px 0 0 15px;
}

.contact .container .contact-form .contact__content {
  display: flex;
  margin-bottom: 3rem;
}

.contact .container .contact-form .contact__content .contact__left {
  width: 50%;
  margin: 0 1rem;
}

.contact .container .contact-form .contact__content .contact__right {
  width: 50%;
  margin: 0 1rem;
}

.contact .container .contact-form .contact__content .contact__right button {
  padding: 1rem 16.3rem;
  color: black;
  margin: 1rem 0;
  transition: all 0.5s;
}

.contact .container .contact-form .contact__content input, .contact .container .contact-form .contact__content textarea {
  background-color: #EFEFEF;
  border: 0px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: white;
  resize: none;
  font-weight: bold;
  border-bottom: 3px solid #BBBBBB;
}

.contact .container .contact-form .contact__content input:focus, .contact .container .contact-form .contact__content textarea:focus {
  outline: none;
}

footer {
  margin-top: 20px;
}

footer .bottom {
  width: 80%;
  margin: 0 auto;
}

footer .bottom p {
  text-align: center;
}

.about_item .container .about_item-intro img {
  width: 100%;
  height: 100%;
}

.cartItem .container #tblItem {
  width: 100%;
  text-align: center;
  border-spacing: 10px;
}

.cartItem .container #tblItem #tblHead tr {
  width: 100%;
}

.cartItem .container #tblItem #tblBody tr td:nth-child(1) img {
  width: 150px;
  height: 150px;
}

.cartItem .container #tblItem #tblBody tr td:nth-child(3) {
  color: orangered;
}

.cartItem .container #tblItem #tblBody tr td:nth-child(4) input {
  width: 50px;
}

.cartItem .container #tblItem #tblBody tr td:nth-child(5) {
  color: orangered;
}

.cartItem .container #tblItem #tblBody::before, .cartItem .container #tblItem #tblBody::after {
  /* This doesn't work because of border-collapse */
  line-height: 20px;
  content: ".";
  color: transparent;
  /* bacground color */
  display: block;
}

#account .container .row #account__left {
  width: 20%;
}

#account .container .row #account__left ul {
  list-style-type: none;
}

#account .container .row #account__left ul li {
  margin-left: 10px;
}

#account .container .row #account__left ul li a {
  color: black;
  display: block;
  padding: 10px;
  border: 1px solid black;
  text-decoration: none;
}

#account .container .row #account__left ul .active {
  background-color: #ffa600;
}

#account .container .row #account__right {
  width: 70%;
  margin: 0 auto;
}

#account .container .row #account__right #myAccount {
  display: none;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan {
  display: flex;
  justify-content: space-around;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan #account__img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan #account__img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan #account__img i {
  font-size: 25px;
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 45%;
  display: none;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan #account__img:hover {
  cursor: pointer;
}

#account .container .row #account__right #myAccount #thongTinTaiKhoan #account__img:hover i {
  display: block;
}

#account .container .row #account__right #trangThaiDonHang {
  display: none;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem {
  width: 100%;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem #trangThaiDonHang_tblHead th {
  width: 20%;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem #trangThaiDonHang_tblBody tr {
  text-decoration: none;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem #trangThaiDonHang_tblBody tr td:nth-child(1) {
  display: flex;
  width: 50%;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem #trangThaiDonHang_tblBody tr td:nth-child(1) img {
  width: 100%;
}

#account .container .row #account__right #trangThaiDonHang #trangThaiDonHang_tblItem #trangThaiDonHang_tblBody tr td:nth-child(2) {
  width: 15%;
}

#account .container .row #account__right #lichSuMuaHang {
  display: block;
}

#account .container .row #account__right #lichSuMuaHang #tblItem {
  width: 100%;
  text-align: center;
  border-spacing: 10px;
}

#account .container .row #account__right #lichSuMuaHang #tblItem #tblHead tr {
  width: 100%;
}

#account .container .row #account__right #lichSuMuaHang #tblItem #tblBody tr td:nth-child(1) img {
  width: 150px;
  height: 150px;
}

#account .container .row #account__right #lichSuMuaHang #tblItem #tblBody tr td:nth-child(3) {
  color: orangered;
}

#account .container .row #account__right #lichSuMuaHang #tblItem #tblBody tr td:nth-child(4) input {
  width: 50px;
}

#account .container .row #account__right #lichSuMuaHang #tblItem #tblBody tr td:nth-child(5) {
  color: orangered;
}

#account .container .row #account__right #lichSuMuaHang #tblItem #tblBody::before, #account .container .row #account__right #lichSuMuaHang #tblItem #tblBody::after {
  /* This doesn't work because of border-collapse */
  line-height: 20px;
  content: ".";
  color: transparent;
  /* bacground color */
  display: block;
}

#account .container .row #account__right #doiMatKhau {
  display: none;
}

#account .container .row #account__right #doiMatKhau form {
  width: 50%;
  margin: 50px auto;
}

.agileinfo_main_grid_left_grid h3 {
  font-size: 1.3em;
  color: #fff;
}

.agileinfo_main_grid_left_grid ul {
  margin-top: 1.5em;
}

.agileinfo_main_grid_left_grid ul li {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  vertical-align: top;
}

.agileinfo_main_grid_left_grid ul li span {
  display: block;
  font-size: .5em;
  color: #999;
}

.agileinfo_main_grid_left_grid ul li:first-child {
  width: 70%;
  border-right: 1px solid #999;
}

.agileinfo_main_grid_left_grid ul li:last-child {
  padding-left: 1em;
  text-align: right;
}

.agile_amount {
  padding: 1em 2em;
  background: #f71926;
}

.agile_amount h3 {
  font-size: 1.3em;
  color: #fff;
}

.agile_amount h4 {
  font-size: 2em;
  color: #fff;
  font-weight: bold;
}

.agile_amount p {
  font-size: 1em;
  color: #1adeed;
  line-height: 1.8em;
}

img.pp-img {
  width: 65%;
}

.tab-grid p {
  color: #8B8B8B;
  font-size: 0.95em;
  line-height: 1.8em;
  font-weight: 400;
  margin: 10px 0;
}

a.btn.btn-primary {
  background-color: #3a5795;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  border: none;
}

.vertical_post h5 {
  color: #F45C5D;
  font-size: 20px;
  margin: 0 0 18px 0;
  letter-spacing: 1px;
  font-weight: 600;
}

label.anim {
  letter-spacing: 1px;
}

.swit-radio label {
  font-size: 16px;
  color: #696969;
  padding: 0;
  font-weight: 100;
  margin-bottom: 12px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 4px 0 0;
}

.swit-radio {
  margin-bottom: 25px;
}

.radio_one:first-child {
  margin-left: 0;
  margin: 0;
}

.radio_one {
  padding-left: 22px;
  line-height: 28px;
  color: #404040;
  cursor: pointer;
}

.radio_one {
  position: relative;
  display: inline-block;
  margin-left: 15px;
}

.section_room_pay select {
  padding: 6px 10px;
  border: none;
  width: 100%;
  background: none;
  border: 1px solid #E6E4E4;
  color: #999;
  outline: none;
  font-size: 16px;
  margin-bottom: 0;
  background-size: 4% !important;
  cursor: pointer;
}

select.form-control.option-w3ls {
  width: 100%;
  padding: 1em 1em 1em 1em;
  font-size: 0.8em;
  margin: 0.5em 0;
  outline: none;
  color: #212121;
  border: none;
  border: 1px solid #ccc;
  letter-spacing: 1px;
  text-align: left;
}

.checkout-center-basket span {
  margin-left: 1em;
}

.vertical_post form input[type="submit"],
.number-paymk input[type="submit"] {
  background: #0879c9;
  color: #FFFFFF;
  text-align: center;
  padding: 11px 19px;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.vertical_post form input[type="submit"]:hover,
.number-paymk input[type="submit"]:hover {
  background: #F45C5D;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.form-control {
  border-radius: 0;
}
/*# sourceMappingURL=main.css.map */