.filter {
    margin: 25px 0;
    .container {
        .row{
            .card{
                text-align: center;
                img{
                    width: 100px;
                    height: 100%;
                    cursor: pointer;
                }
            }
            #filter-search{
                margin-top: 10px;
                display: flex;
                list-style-type: none;
                li{
                    width: 100px;
                    text-align: left;
                    select{
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}
