header {
  margin-bottom: 25px;
  .container {
    .header-banner {
      img {
        width: 100%;
      }
    }
    .header-navbar {
      .nav-left-right {
        justify-content: space-between;
        .left-nav {
          form {
            padding: 10px;
            width: 90%;
          }
        }
        .header-navbar--content{
            .navbar-select{
              width: 100%;
              ul{
                display: flex;
                  li{
                    padding-left: 100px;
                    margin-right: 10px;
                  }
                
              }
            }
        }
      }
    }
  }
}
