header {
  margin-bottom: 25px;
  .container {
    .header-banner {
      img {
        width: 100%;
      }
    }
    .header-navbar {
      z-index: 3;
      //them chuc nang sroll thi ontop
      .nav-left-right {
        .left-nav {
          form {
            padding: 10px;
            width: 60%;
            display: inline-block;
          }
        }
        .header-navbar--content{
            .navbar-select{
              width: 100%;
              ul{
                display: flex;
                padding-left: 100px;
                padding-left: 0;
                  li{
                    padding-left: 10px;
                    margin-right: 10px;
                  }
                
              }
            }
        }
      }
    }
  }
}
