.cartItem {
    .container {
        #tblItem {
            width: 100%;
            text-align: center;
            border-spacing: 10px;
            #tblHead {
                tr {
                    width: 100%;
                }
            }
            #tblBody {
                tr{
                    td{
                         
                        &:nth-child(1){
                            img {
                                width: 150px;
                                height: 150px;
                            }
                        }
                        &:nth-child(3){
                            color: orangered;
                        }
                        &:nth-child(4){
                            input{
                                width: 5px;
                            }
                        }
                        &:nth-child(5){
                            color: orangered;
                        }
                    }
                }
            }
            #tblFooter{
                text-align: left;
            }
        }
    }
}
